body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #fff;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

button {
  display: block;
  margin: 50px auto;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
